@using ChefsNDishes.Models
@model List<Dish>
<head>
<link rel="stylesheet" type="text/css" href="DishStyle.css">
</head>
<div class="header">
<a href="/"><h1><b>Dishes</b></h1></a> <h1>|</h1>
<a href="/chef"><h1><b>Chefs</b></h1></a>
<a href="/new">Add a Dish</a>
<h5>Check out our tasty dishes!</h5>
</div><br>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">Dish</th>
            <th scope="col">Chef</th>
            <th scope="col">Tastiness</th>
            <th scope="col">Calories</th>
        </tr>
        </thead>
        @foreach(var Dish in Model)
        {
        <tbody>
        <tr>
            <th scope="row"><a href="/info/@Dish.DishId">@Dish.NameDish</a></th>
            <td>@Dish.Chef</td>
            <td>@Dish.Tastiness</td>
            <td>@Dish.Calories</td>
        </tr>
        </tbody>
        }
    </table>

