@model ChefsNDishes.Models.Dish
<div class="Header">
    <h1>Add a new Dish!</h1>
    <a href="/">Home</a>
</div>
<div class="Form">
    <form asp-action="Createuser" asp-controller="Home" method="post">
        <span style="color: red;" asp-validation-for="Chef"></span>
        <label asp-for="Chef"></label>
        <input asp-for="Chef"><br>
        <span style="color: red;" asp-validation-for="NameDish"></span>
        <label asp-for="NameDish"></label>
        <input asp-for="NameDish"><br>
        <span style="color: red;" asp-validation-for="Calories"></span>
        <label asp-for="Calories"></label>
        <input asp-for="Calories"><br>
    <span style="color: red;"  asp-validation-for="Tastiness"></span><br>
    <label asp-for="Tastiness"></label>
        <select name="Tastiness">
        <option asp-value="1">1</option>
        <option asp-value="2">2</option>
        <option asp-value="3">3</option>
        <option asp-value="4">4</option>
        <option asp-value="5">5</option>
        </select><br>
        <span style="color: red;" asp-validation-for="Description"></span>
        <label asp-for="Description"></label>
        <input asp-for="Description">
        <input type="submit" value="Add Dish">
    </form>
</div>
